body
{
  margin-top: 100px;
}
table
{
  margin: auto;
}

td
{
  border: 1px solid black; 
  padding: 40px;
}

#c1
{
  background-color: black;
}

#c2
{
  background-color: pink;
}

#c3
{
  background-color: grey;
}

#c4
{
  background-color: blue;
}

#c5
{
  background-color: black;
}

#c6
{
  background-color: yellow;
}

#c7
{
  background-color: yellow;
}

#c8
{
  background-color: black;
}

#c9
{
  background-color: blue;
}

#c10
{
  background-color: black;
}

#c11
{
  background-color: red;
}

#c12
{
  background-color: blue;
}

#c13
{
  background-color: red;
}

#c14
{
  background-color: black;
}

#c15
{
  background-color: green;
}

#c16
{
  background-color: pink;
}

#c17
{
  background-color: red;
}

#c18
{
  background-color: blue;
}

#c19
{
  background-color: yellow;
}

#c20
{
  background-color: red;
}

#c21
{
  background-color: green;
}